header {background-color:#fad586;
}

h1 {
  color:#3d7ea6;
  text-align: center;
}

li {
  color:#3d7ea6;
  text-align: center;
}


header img{
  width:700px;
  opacity:1;
}
body p{ 
  color:#3d7ea6 
}

body header li {
display:;
  margin:20px
}


body {background-color:#4e3620;
}

